body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 15vh;
  background-color: #d9d9d9 !important;
}

.login-form {
  margin: 10%;
  margin-bottom: 47%;
}

.new-gnome-form {
  margin: 10%;
  margin-bottom: 56%;
}

#hello-user {
  margin: 0;
}

.gif {
  display: flex;
  justify-content: center;
}

.gif-gnome {
  max-width: 85vw;
}

.gif-piss {
  max-width: 100vw;
  margin-bottom: 15px;
}
