body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 12vh;
  background-color: #d9d9d9 !important;
}

.login-form {
  margin: 10%;
  margin-bottom: 47%;
}

.new-gnome-form {
  margin: 10%;
  margin-bottom: 56%;
}
