<footer class="bg-dark text-center text-white footer-gnome">
  <!-- Grid container -->
  <div class="container p-1">
      <!-- Facebook -->
      <a class="btn btn-primary social-btn" style="background-color: #3b5998;" href="https://www.facebook.com/adopteungnome/" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-primary social-btn" style="background-color: #55acee;" href="https://twitter.com/n2jardin" role="button">
      <i class="fab fa-twitter"></i>
      </a>


      <!-- Instagram -->
      <a class="btn btn-primary social-btn" style="background-color: #ac2bac;" href="https://www.instagram.com/gnomeverse/?hl=fr" role="button">
      <i class="fab fa-instagram"></i>
      </a>

      <!-- Youtube -->
      <a class="btn btn-primary social-btn" style="background-color: #ed302f;" href="https://www.youtube.com/watch?v=Ms6YzGIQ7IM" role="button">
      <i class="fab fa-youtube"></i>
      </a>
  </div>

  <div class="text-center p-2 copyright" style="background-color: rgba(0, 0, 0, 0.2);">
    ©1905-2022 GnomeLand Corp
  </div>
</footer>
