<div class="bg-dark collapse" id="navbarHeader" style="">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">Hey, Tu aimes les Gnomes ? Nous aussi ! C'est pourquoi nous te proposons les gnomes de jardin les plus moches que nous ayons trouvé. Énorme mec !</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Search Here...</h4>
        <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search" id="search-icon"></i>
          </span>
        </div>
      </div>
      <div class="container text-center">
        <%= link_to "Log Out, lil' gnome !", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-sm" %>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand d-flex align-items-center">
      <strong id="app-name">GnomeLand</strong>
    </a>

    <i class="fas fa-search" id="navbar-search" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"></i>

  </div>
</div>
