
    <div class="background-image">
      <div class="button-container">
        <div id="rent-link" class="home-btn-link btn btn-danger font-weight-bold rounded-4 text-white">Rent a gnome</div>
        <div id="add-rent-link" class="home-btn-link btn btn-danger font-weight-bold rounded-4 text-white">Add a gnome for rent</div>
        <%= link_to "Login", new_user_session_path, class: "home-btn-link nav-link btn btn-danger text-white rounded-4" %>
      </div>
    </div>
