<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="background-image">
      <div class="button-container">
        <div id="rent-link" class="btn btn-danger font-weight-bold rounded-4 text-white">Rent a gnome</div>
        <div id="add-rent-link" class="btn btn-danger font-weight-bold rounded-4 text-white">Add a gnome for rent</div>
        <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-danger text-white rounded-4" %>
      </div>
    </div>
  </body>
</body>
</html>
