
    <div class="background-image">
      <div class="button-container">
        <%= link_to "Rent a gnome", gnomes_path, class: "home-btn-link nav-link btn btn-danger text-white rounded-4" %>
        <%= link_to "Add a gnome for rent", new_gnome_path, class: "home-btn-link nav-link btn btn-danger text-white rounded-4" %>
        <%= link_to "Login", new_user_session_path, class: "home-btn-link nav-link btn btn-danger text-white rounded-4" %>
      </div>
    </div>
