.background-image{
  width: 100vw;
  height: 633.5px;
  background-image: url("https://images.unsplash.com/photo-1587256961522-9baaa5a730da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
