.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.card-product:hover {
  background-color: greenyellow;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-top: 5px;
  font-family: "Fuzzy Bubbles";
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 4px;
  margin-top: 4px;
  font-family: "Fuzzy Bubbles";
}

.card-product .card-product-infos {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.link-index {
  text-decoration: none;
}

.gnome-name {
  padding-left: 6px;
}

.gnome-desc {
  padding: 6px;
}

.gnome-infos {
  display: flex;
  justify-content: space-between;
  padding-right: 6px;
  padding-left: 6px;
  width: 227px;
}

.cards a {
  text-decoration: none;
  color: black;
}
