.social-btn {
  padding: 4px 8px;
  border: 0cm;
  border-radius: 50%;
  justify-content: space-between;
  margin-inline: 15px;

}

.fa-facebook-f:before {
  padding: 6px;
}

.fa-instagram:before {
  padding: 2px;
}

.footer-gnome {
  position: fixed;
  bottom: 0;
  width: 100%;
}
