.social-btn {
  padding: 4px 8px;
  border: 0cm;
  border-radius: 50%;
  justify-content: space-between;
  margin-inline: 15px;

}

.fa-facebook-f:before {
  padding: 6px;
}

.fa-instagram:before {
  padding: 2px;
}

.footer-gnome {
  bottom: 0;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2vmin;
}
