@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');


#add-rent-link {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Fuzzy Bubbles";
}

#rent-link {
  font-family: "Fuzzy Bubbles";
}

.nav-link {
  font-family: "Fuzzy Bubbles";
}
