@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

.home-btn-link {
  margin: 10px 0px;
  font-family: "Fuzzy Bubbles";
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 15vh 0px
}
