.image-gnome {
  max-width: 200px;
  max-height: 200px;
  border-radius: 16px;
}

.image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-modal {
  text-align: center;
}
