#app-name {
  font-size: 32px;
  font-family: 'Fuzzy Bubbles', cursive;
  color: $red;
  font-weight: bolder;
}

.navbar-brand {
  margin-right: 0;
}

#navbar-search {
  color: $light-gray;
}

.navbar-toggler {
  padding: 5px 10px;
}

.navbar {
  top:0;
  width: 100vw;
  height: 10vh;
}

.fa-search:before {
  color: $light-gray;
  font-size: 20px;
}

#search-icon:before {
  color: black;
}
