.profil {
    font-family: 'Fuzzy Bubbles', cursive;
    color: #000000;
    font-weight: bolder;
}

.profil h2, h3, h5 {
  font-family: 'Fuzzy Bubbles', cursive;
}

.profil h3 {
  margin: 0;
}

.profil a {
  text-decoration: none;
  color: #CD1408;
  font-family: 'Fuzzy Bubbles', cursive;
}
