.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9eef8;
  max-width: 375px;
  height: 678px;
}

.show-container img {
  padding-top: 20px;
}

.show-container p {
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

.show-container h2 {
font-weight: bold;
padding-left: 25px;
padding-top: 5px;
}

.show-container a {
margin-left: 25px;
font-family: "Fuzzy Bubbles";
}

.show-container span {
  font-weight: bold;
  font-family: "Fuzzy Bubbles";
  }

