.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #d9d9d9;
}

.show-container img {
  padding-top: 20px;
}

.show-container p {
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

.show-container h2 {
  font-weight: bold;
  padding-left: 25px;
  padding-top: 5px;
}

.show-container a {
  margin-left: 25px;
  margin-bottom: 25px;
  font-family: "Fuzzy Bubbles";
  justify-content: center;
}

.show-container span {
  font-weight: bold;
  font-family: "Fuzzy Bubbles";
  }
